<!DOCTYPE html>
<html lang="en" data-ng-app="learnDspApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>DFT learning tools</title>
    
    
    <link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic,bold" title="roboto">
      
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
<style>

body {font-family: roboto;}
    
/* allow for <a> tags without href */
a {cursor:pointer;};
    
	ul.left-menu {list-style-type:none;margin-left:0;padding:0;  list-style-position: inside;}
	ul.left-menu li {list-style-type:none;margin:0;padding:0}
	div.leftCol li {list-style-type:none;margin:0.8em;padding:0}
	
	
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.bar_re {fill: red;}
.bar_im {fill: steelblue;}
.lollipop_re {stroke: red; stroke-opacity:0.5; stroke-width:2px;}
.lollipopc_re {fill: red;}

.lollipop_im {stroke: steelblue; stroke-opacity:0.5; stroke-width:2px;}
.lollipopc_im {fill: steelblue;}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}



</style>
   
  </head>

<body ng-controller="MasterPageController">

<nav class="navbar navbar-default" role="navigation" ng-controller="TopNavController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <span class="navbar-brand">Learn DSP</span>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
          <ul class="dropdown-menu">
            
            <li class="divider"></li>
            <li><a href="#release_notes"><span class='glyphicon glyphicon-send'></span> Release notes</a></li>
            <li><a href="#help"><span class='glyphicon glyphicon-question-sign'></span> Help</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
<div class="row">

<!--  left col -->
<div class="col-md-2 leftCol"  ng-controller="LeftNavController">
<input type="checkbox" checked> Plot Re + Im on one chart <br />
<input type="checkbox"> X[k] as magnitute and phase<br />

</div>


<!--  main area -->
<div class="col-md-10">
<div data-ng-view=""></div>

<form>

<button type="button" ng-click="calcDFT()">Calculate</button>

</form>

<table>
<tr>

<td>
<h3>x[n]</h3>
<textarea name="fn" rows="4" cols="60" ng-model="xn" ng-change="xnTextareaChange()"></textarea><br />
<svg class="xnChart"></svg>
</td>

<td>
DFT ⇨ <br />
⇦ IDFT
</td>

<td>
<h3>X[k]</h3>
<textarea name="fn" rows="4" cols="60" ng-model="Xk" ng-change="XkTextareaChange()"></textarea><br />
<svg class="XkChart"></svg>
</td>

</tr>
</table>

</div>

</div><!--  end div.row -->
</div><!--  end div.container-fluid -->



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>



<script src="http://d3js.org/d3.v3.min.js"></script>

<script src="fourier.js"></script>



<script>

function ComplexNumberChart () {
	
	var svg;
	var margin, width, height;
	var x,y, yphase;
	var xAxis;
	var yAxis;
	var yPhaseAxis;
	var drag;
	
	var dataLocal;
	var onChangeFn;
	
	var magnitudeAndPhase = false;
	
function initChart (chartSelector) {
	margin = {top: 20, right: 20, bottom: 30, left: 40},
	width = 540 - margin.left - margin.right,
	height = 300 - margin.top - margin.bottom;
	
	svg = d3.select(chartSelector)
	.attr("width", width + margin.left + margin.right)
	.attr("height", height + margin.top + margin.bottom)
	.append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	
	x = d3.scale.ordinal()
	.rangeRoundBands([0, width], .1);

	y = d3.scale.linear()
	.range([height, 0]);
	
	yphase = d3.scale.linear()
	.range([height, 0]);
	yphase.domain( [ -Math.PI, Math.PI] );

	xAxis = d3.svg.axis()
	.scale(x)
	.orient("bottom");

	yAxis = d3.svg.axis()
	.scale(y)
	.orient("left")
	.ticks(10);
	
	yPhaseAxis = d3.svg.axis()
	.scale(yphase)
	.orient("right")
	.ticks(10);
	
	
	svg.append("g")
	  .attr("class", "x axis")
	  .attr("transform", "translate(0," + height + ")")
	  .call(xAxis);

	svg.append("g")
	  .attr("class", "y axis")
	  .call(yAxis)
	  /*
	.append("text")
	  .attr("transform", "rotate(-90)")
	  .attr("y", 6)
	  .attr("dy", ".71em")
	  .style("text-anchor", "end")
	  .text("X[k]")
	  */
	  ;
	
	// Experimental phase axis on right.
	/*
	svg.append("g")
	  .attr("class", "yphase axis")
	  .attr("transform", "translate(" + (width-12) + ",0)" )
	  .call(yPhaseAxis)
	*/
	  
	drag = d3.behavior.drag()
	    .on("drag", function (d) {
	    	d3.select(this)
	    	.attr("cy", d3.event.y);
	    	if (this.className.baseVal=="lollipopc_re") {
	    		d.re = y.invert(d3.event.y);
	    	} else if (this.className.baseVal=="lollipopc_im") {
	    		d.im = y.invert(d3.event.y);
	    	}
	    })
	    .on("dragend", function (d) {
	    	drawChart(dataLocal);
	    	// onChange callback
	    	if (onChangeFn) {
	    		onChangeFn();
	    	}
	    }) ;
}

function updateChart () {
	drawChart(dataLocal);
}

function drawChart (data) {

	dataLocal = data;
	
	x.domain(data.map(function(d) { return d.label; }));

	var minv = d3.min (data, function(d) { return Math.min(d.re,d.im); });
	var maxv = d3.max (data, function(d) { return Math.max(d.re,d.im); });

	y.domain( [ (minv > 0? 0 : minv) , (maxv < 0 ? 0 : maxv) ] );

	svg.selectAll("g.x.axis").call(xAxis);
	svg.selectAll("g.y.axis").call(yAxis);

/*
svg.selectAll(".bar")
  .data(data)
.enter().append("rect")
  .attr("class", "bar_re")
  .attr("x", function(d) { return x(d.label); })
  .attr("width", x.rangeBand()/2)
  
  .attr("y", function(d) { return d.re < 0 ? y(0) : y(d.re); })  
  .attr("height", function(d) { return  Math.abs(y(d.re) - y(0)) });
  
svg.selectAll(".bar_im")
.data(data)
.enter().append("rect")
.attr("class", "bar_im")
.attr("x", function(d) { return x(d.label) + x.rangeBand()/2; })
.attr("width", x.rangeBand()/2)
.attr("y", function(d) { return d.im < 0 ? y(0) : y(d.im); })  
.attr("height", function(d) { return  Math.abs(y(d.im) - y(0)) });
*/

function redValue (d) {
	return magnitudeAndPhase ? Math.sqrt(d.re*d.re + d.im*d.im) : d.re;
}
function blueValue (d) {
	return magnitudeAndPhase ? Math.atan2(d.im,d.re) : d.im;
}

var lollipopLineRe = svg.selectAll(".lollipop_re").data(data);

lollipopLineRe
.enter().append("line")
.attr("class", "lollipop_re");

lollipopLineRe
.attr("x1", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("y1", function(d) { return y(0); })  
.attr("x2", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("y2", function(d) { return y(redValue(d))} );

lollipopLineRe
.exit().remove();


var lollipopCircleRe = svg.selectAll(".lollipopc_re").data(data);

lollipopCircleRe.enter()
.append("circle")
.attr("class", "lollipopc_re")
.attr("r","5px")
.call(drag);

lollipopCircleRe
//.attr("title",function (d) { return ""+Math.sqrt(d.re*d.re+d.im*d.im)})
.attr("cx", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("cy", function(d) { return y(redValue(d)); }) ;

lollipopCircleRe
.exit().remove();


// Imaginary part

var lollipopLineIm = svg.selectAll(".lollipop_im").data(data);

lollipopLineIm
.enter().append("line")
.attr("class", "lollipop_im");

lollipopLineIm
.attr("x1", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("y1", function(d) { return y(0); })  
.attr("x2", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("y2", function(d) { return y(blueValue(d)) });

lollipopLineIm
.exit().remove();


var lollipopCircleIm = svg.selectAll(".lollipopc_im").data(data);

lollipopCircleIm.enter()
.append("circle")
.attr("class", "lollipopc_im")
.attr("r","5px")
.call(drag);

lollipopCircleIm
.attr("cx", function(d) { return x(d.label) + x.rangeBand()/2 ; })
.attr("cy", function(d) { return y(blueValue(d)) }) ;

lollipopCircleIm
.exit().remove();






//
// grid lines
//
var gridLines = svg.selectAll("line.horizontalGrid").data(y.ticks(4));

gridLines
.enter().append("line")
.attr(
    {
        "class":"horizontalGrid",
        "x1" : margin.right,
        "x2" : width,
        "fill" : "none",
        "shape-rendering" : "crispEdges",
        "stroke" : function(d) {return d==0 ? "black" : "gray"},
        "stroke-width" : function(d) {return d==0 ? "2px" : "1px"}
    });
    
gridLines
.attr("y1",function(d){ return y(d);})
.attr("y2",function(d){ return y(d);})
.attr("stroke",function(d) {return d==0 ? "black" : "gray"})
.attr("stroke-width", function(d) {return d==0 ? "2px" : "1px"})
;

gridLines
.exit().remove() ;
    
}

return {
	initChart: function (selector) {bo
		initChart(selector);
	},
	drawChart: function (data) {
		drawChart(data);
	},
	updateChart: function () {
		updateChart();
	},
	onChange: function (fn) {
		onChangeFn = fn;
	}
};

}


</script>
</body>
   
</html>
  
